:root {

  --ff-raleway:'Raleway' , sans-serif;

  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/********** Rsest ***************/

a{
    text-decoration: none;
    color: inherit;
}


h3:not(.reset-format) , .sub-title{
  font-size:1.5rem;
}

h1,h2,h3,h4{
  margin-block-start:0;
  margin-block-end:0;
}

p{
  margin-block-start:0;
  margin-block-end:0;
}



/* for styling */
img{
  max-width: 100%;
}
/************ components ***********/

.container {
    max-width: 1134px;
    margin-left:auto;
    margin-right:auto;
    width: 330px;
}

section,footer {
  margin-top: 70px;
}

@media (min-width:1200px){
  section,footer ,footer{
    margin-top: 100px;
  }
}

h2{
  font-family: var(--ff-raleway);
  font-weight: 900;
  font-size:1.9rem;
  line-height: 1.2;
  color:var(--dark-blue-color);
}

section p {
  line-height:2;
  color: var(--dark-blue-color);
  margin: .73rem 0;
}


/* Buttons */

.btn {
    padding:.75rem 2.1rem;
    border-radius:1.5rem;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    position: relative;
  }

  @media (min-width:1024px){
    .btn{
      padding:1rem 2.1rem;
    }
  }
  
  .btn.dark {
    background: var(--dark-blue-color);
  }
  
  .btn.light {
    background: var(--orange-color);
  }

  .hero__inrol {
    padding-left: 4rem;
    margin-top: 1rem;
    text-align: start;
  }

  
  .hero__inrol::before {
    content: url("../images/enrol-now-icon.svg");
    position: absolute;
    top: 55%;
    left: 2.5rem;
    transform: translateY(-50%);
  }
  
  @media (min-width:540px){
    .container{
      width:500px;
    }
  }

  @media (min-width:767px){
    .container{
      width:700px;
    }
  }


  @media (min-width:1024px){
    .container{
      width:990px;
    }

    h2{
      font-size:3.72rem;
    }
    
    h3:not(.reset-format) , .sub-title{
      font-size:2.1rem;
    }
  }


  
  @media (min-width:1200px){
    .container{
      width:1100px;
    }
  }

  

  @media (min-width:1400px){
    html{
      font-size: 18px;
    }

    .container{
      max-width: unset;
      width:1200px;
    }
  }