:root {

  --ff-raleway:'Raleway' , sans-serif;

  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/********** Rsest ***************/

p {
    margin-block-start:0;
    margin-block-end:0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4{
  margin-block-start:0;
  margin-block-end:0;
}

section {
  margin-top: 100px;
}

/* for styling */
img{
  max-width: 100%;
}
/************ components ***********/

.container {
    max-width: 1134px;
    margin-left:auto;
    margin-right:auto;
    width: 330px;
}


/* Buttons */

.btn {
    padding:.75rem 2.1rem;
    border-radius:1.4rem;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size:1rem;
    text-decoration: none;
    position: relative;
  }
  
  .btn.dark {
    background: var(--dark-blue-color);
  }
  
  .btn.light {
    background: var(--orange-color);
  }

  .hero__inrol {
    padding-left:2.5rem;
    text-align: start;
  }

  
  .hero__inrol::before {
    content: url("../images/enrol-now-icon.svg");
    position: absolute;
    top: 50%;
    left:1rem;
    transform: translateY(-50%);
  }
  
  @media (min-width:540px){
    .container{
      width:500px;
    }
  }

  @media (min-width:767px){
    .container{
      width:700px;
    }
  }


  @media (min-width:1024px){
    .container{
      width:990px;
    }
  }


  

  @media (min-width:1400px){
    html{
      font-size: 18px;
    }

    .container{
      max-width: unset;
      width:1200px;
    }
  }